body, h1, p, ul, li, pre, header, footer {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto, Open Sans;
  max-width: 1000px;
  margin: 0px auto;
  background-color: antiquewhite; }

header {
  min-width: 300px;
  margin-top: 30px; }

#main-title, #description {
  text-align: center; }

#main-title {
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto; }

#description {
  font-size: 20px; }

nav {
  height: 50px;
  border-top: 1px #666666 solid;
  border-bottom: 1px #666666 solid;
  margin: 40px auto; }

nav li {
  float: left; }

nav ul {
  list-style: none;
  height: 50px;
  padding: 1px 40px; }

nav li a {
  display: inline-block;
  text-decoration: none;
  margin: auto 20px;
  height: 50px;
  line-height: 50px;
  color: black; }

article {
  max-width: 670px;
  margin: 10px 20px;
  padding: 0px 25px; }

article p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  line-height: 1.58;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.003em;
  margin: 20px auto;
  word-wrap: break; }

img {
  width: 180px;
  height: 180px;
  border-radius: 50%; }

@media (min-width: 1000px) {
  article {
    float: left;
    border-right: 1px #666666 dashed; }
  article h1 {
    font-size: 35px; }
  article p {
    font-size: 21px; }
  #info {
    float: right;
    width: 200px;
    margin: 10px auto; } }

@media (max-width: 1000px) {
  article h1 {
    font-size: 30px; }
  article p {
    font-size: 18px; }
  #info {
    margin: 30px 40px;
    height: 200px; }
  img {
    float: left;
    margin: 0px 30px; } }

footer {
  clear: both;
  border-top: 1px black dashed; }
