div#info
  img(src= avatar)
  h3= author
  p= intro
  a(href= github)
    i(class="fa fa-github fa-2x")
  a(href= weibo)
    i(class="fa fa-weibo fa-2x")      
  div#recent
    h2 Recent Posts
    ul
        