doctype html
html
  include ./head.jade
  body    
    include ./header.jade
    block content
    include ./info.jade
    include ./footer.jade
<<<<<<< HEAD
    //script(src="js/app.js") 
=======
    script(src="js/app.js")
>>>>>>> 12bca493adbd324088a0442690435260acd5fe55
