@import "varibles";

body, h1, p, ul, li, pre, header, footer { 
  margin: 0;
  padding: 0; 
}

ul {
  list-style: none;  
}

a {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
}

body {
  font-family: $main-font-family;
  max-width: $body-width;
  margin: 0px auto;
  background-color: $bg-color;
}

header {
  min-width: $header-min-width;
  margin-top: 30px;
  
  h1, p {
    text-align: center;
  }
  
  h1 {
    font-size: $blog-title-size;
    font-weight: bold;
    margin: 10px auto;
  }
  
  p {
    font-size: $blog-description-size;
  }
}

nav {
  height: $nav-height;
  border-top: $nav-dividing-line;
  border-bottom: $nav-dividing-line;
  margin: 40px auto;
  
  ul {
    list-style: none;
    height: $nav-height;
    padding: 1px 40px;
    
    li {
      float: left;
      
      a {
        margin: auto 20px;
        height: $nav-height;
        line-height: $nav-height;
      }
    }    
  } 
}

article {
  max-width: $article-width;
  margin: 10px 20px;
  padding: 0px 25px;
  
  p {
    font-family: $article-font-family;
    line-height: 1.58;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.003em;
    margin: 20px auto;
    word-wrap: break;
  }
}

.post {
  display: block;
  margin: 10px auto 30px auto;
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  h1 {
    font-size: 25px;
  }
}

#info {
  
  img {
    border-radius: 50%;
  }
  
  i {
    margin: 20px 10px;
  }
  
  #recent {
    margin: 30px auto;
    border-top: $center-dividing-line;
    ul {
      li {
        margin: 10px;        
        a {
          text-decoration: underline;
          font-size: 18px;
        }
      }
    }
  }
}



@media (min-width: 1000px) {
  article {
    float: left;
    border-right: $center-dividing-line;
    
    h1 {
      font-size: $desktop-article-title-size;
    }
    
    p {
      font-size: $desktop-article-paragraph-size;
    }
  }
 
  #info {
    float: right;
    width: $desktop-info-width;
    margin: 10px auto;
    
    img {
      width: $desktop-avatar-width;
      height: $desktop-avatar-height;
    }
  }
}

@media (max-width: 1000px) {
  article{
    h1 {
      font-size: $mobile-article-title-size;
    }
    
    p {
      font-size: $mobile-article-paragraph-size;
    }
    
   
  } 
 
  #info {
    margin: 30px 40px;
    height: $mobile-info-height;
    
    
    img {
      float: left;
      width: $mobile-avatar-width;
      height: $mobile-avatar-height;
      margin: 0px 40px;
    }
    
     #recent {
      border-top: $center-dividing-line;
    }
  }
  
  #recent {
    clear: both;
    padding-left: 60px; 
  }  
    
}

footer {
  clear: both;
  border-top: $footer-divding-line;
  
  h5 {
    text-align: center;
  }
}